---
const { src, alt, size = "w-40 h-40" } = Astro.props;
---

<div
  class={`${size} ${size} rounded-full shadow-lg overflow-hidden hover:scale-105 transition-transform duration-300 cursor-pointer`}
>
  <img src={src} alt={alt} class="w-full h-full object-cover" />
</div>
